@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: rgb(243, 243, 234);
}

.container{
	width: 940px;
	background-color: #fff;
	border-radius: 10px;
	display: flex;
	background-color: rgb(243, 243, 234);
}

label{
	color: #1da3dd;
	margin: 20px auto 10px;
	font-size: 32px;
	align-items: center;
	justify-content: center;
}

button{
	background-color: #1da3dd;
	border-radius: 5px;
	padding: 7px 15px;
	color: #fff;
	border: 0;
	outline: none;
	font-size: 20px;
}
